                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{path}">
                            <h2 class="post-title">{title}</h2>
                            <h3 class="post-subtitle">{subtitle}</h3>
                        </a>
                        <p class="post-meta">
                            {date}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
